html{
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    margin: 0;
    font-family: 'Gochi Hand', cursive;
    font-size: 24px;
}

header {
    margin: auto;
    display: flex;
    max-width: 1200px;
    width: 100%;
    min-height: 150px;
    max-height: 200px;
    position: relative;
}

a {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    color: green;
}

.bayc-icon {
    width: 250px;
    object-fit: fill;
    position: absolute;
    bottom: -58.33px;
}

nav {
    justify-content: right;
    align-items: center;
    display: flex;
    width: 100%;
}

nav > a {
    
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 1.2px;
    margin: 0px 30px;
}

nav > a:hover {
    color: #BFC500;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: 30px;
}

.social-icon {
    color: #FFF;
    margin-left: 20px;
}

.social-icon:hover {
    color: #BFC500;
}
