@media (max-width: 672px) {

    .header {
        padding: .5rem 1rem;
        min-height: 100px;
        justify-content: space-between;
    }

    .header > nav{
        display: none;
    }

    .navbar-brand {
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
    }

    .cmc-icon {
        width: 150px;
    }

    #nav-toggle {
        display: inline-block;
    }

    #nav-bar {
        display: block;
        transition: 0.4s;
        max-height: 0;
        overflow: hidden;
    }

    .img-fluid {
        display: none;
    }

    .mobile-brand-image {
        display: block;
    }

    .commond-container {
        width: 100%;
    }

    section {
        padding: 2rem 2rem;
    }

    .team-item > img {
        width: 250px;
    }

    /* li {
        font-size: 1.5rem;
    } */

    .team-item > img {
        width: 200px;
    }

    .active, .accordion:hover .faq{
        margin-left: 0;
    }
}

@media (max-width: 662px) {
    .team-item > img {
        width: 300px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 540px;
    }
    
    nav {
        display: none;
    }
}